@media screen and (max-width: 499px) {
    .hero__tagline {
        font-size: 15px;
    }

    figcaption {
        font-size: 18px;
    }

    main p {
        font-size: 14px;
    }
}

@media screen and (max-width: 713px) {
    .nav {
        z-index: 10;
        background-color: #cd704d;
        width: 300px;
        position: absolute;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-300px, 47px);
        transform: translate(-300px, 47px);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(0, 47px);
        transform: translate(0, 47px);
    }

    .nav__item {
        display: list-item;
        border-bottom: 1px solid #fff;
        width: 90%;
        text-align: left;
    }

    .header {
        display: grid;
        grid-template-columns: 70px auto;    
    }

    .header__inner {
        font-size: 10px;
    }

    .header__menu {
        font-size: 28px;
    }

    .nav a {
        font-size: 12px;
    }
}

@media screen and (min-width: 714px) {
    .header__menu {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    .catalogs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }

    .restaurant {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto 250px;
    }

    .restaurant .featured-image {
        max-height: 360px;
    }

    .info {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .reviews {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    .city {
        top: 30px;
        left: 0;
        padding: 10px 20px;
        font-size: 12px;
    }
}

@media screen and (max-width: 550px) {
    .catalogs {
        display: grid;
        grid-template-columns: 1fr;
    }
    main h2 {
        font-size: 1em;
    }
}

@media screen and (max-width: 450px) {
    .hero {
        background-image: url("../public/images/heros/hero-image_4-small.jpg");
    }
    
    .restaurant {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 250px;
    }

    .info {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .foods {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .drinks {
        grid-column-start: 1;
    }
}

@media screen and (max-width: 1085px) {
    main h2 {
        font-size: 1.5em;
    }
}